<!DOCTYPE html>
<html>
    <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <h1> Log In</h1>
        <form class="form-inline" action='/login' method='POST'>
            Username: <input class="form-control btn-right" type="text" name="username"  placeholder="Username">
            Password: <input class="form-control btn-right" type="password" name="password" placeholder="Password">
            <input class="btn btn-default btn-right" type="Submit">
        </form>
        
    </body>
    
</html>

