<head>
    <link href="/css/signup.css" rel="stylesheet">
</head>
<body>
    <h1> Sign Up </h1>
    <div class="btn-margin">
    <form class="form-horizontal signup" action="/signup" method="POST">
        <input class="form-control btn-top" type='text' name='username' placeholder='Username'>
        <input class="form-control btn-top" type='text' name='email' placeholder='Email'>
        <input class="form-control btn-top" type='password' name='password' placeholder='Password'>
        <input class="form-control btn-top" type='text' name='profile_picture' placeholder='Profile Picture'>
        <input class="form-control btn-top" type='text' name='location' placeholder='Location'>
        <input class="form-control btn-top" type='text' name='age' placeholder='Age'>
        <input class="btn btn-default" type="Submit">
    </form>
    </div>
</body>



