<head>
  <link rel="stylesheet" href="/css/navbar.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">JoinIn</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/search">Home</a></li>
        <li><a href="/clubs/all">Clubs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="user_info">
            <% if logged %>
               <% user = User.find(logged) %>
               <p> Welcome, <%= user.username %> | <a class="text-right log_link" href='/user/<%= user.id %>'>My Profile</a> | <a class="text-right log_link" href='/logout'>Log Out</a> </p>
            <% else %>
               <p class="text-right"> <a class="log_link" href='/login'>Log In</a>  |  <a class="log_link" href='/signup'>Sign Up</a></p>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--| <a class="text-right log_link" href=-->